:root{
    --big-sc-font-size: 16px;
    --nav-bar-bg-color: #333333;
    --nav-bar-height: 3rem;
    --nav-bar-font-size: 25px;
    --img-width: 2.8%;
    --container-bg-color: #2b2a2a;
    --main-font-color: white;
    --slide-gb-color: #111010b2;

    font-size: var(--big-sc-font-size);
}
* {
    padding: 0;
    margin: 0;
    height: 100%;
}
body{
    background-color: var(--container-bg-color);
}


#navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--nav-bar-bg-color);
    width: 100%;
    color: var(--main-font-color);
    height: var(--nav-bar-height);
    z-index: 2;
}
#logo{
    height: 28px;
    margin-left: 10px;
    margin-top: 10px;
}
#navbar-nav{
    position: absolute;
    display: inline-flex;
    right: 0px;
    height: 100%;
}
.nav-link{
    font-size: var(--nav-bar-font-size);
    width: 180px;
    text-align: center;
    height: var(--nav-bar-height);
    list-style: none;
    display: block;
}

.navbar-title{
    padding-top: 10px;
    height: 38px;
    position: relative;
    cursor: default;
}
.drop{
    display: flex;
    flex-direction: column;
    height: 80px;
    opacity: 0;
    list-style: none;
    background-color: var(--container-bg-color);
    border: solid gray 1px;
    border-top: none;
    padding: 5px;
}
.nav-link:hover > .drop{
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.drop-li{
    border-bottom: solid gray 1px;;
}
.drop-li a{
    text-decoration: none;
    color: var(--main-font-color);
}


#container{
    top: var(--nav-bar-height);
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slide-container{
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 30px;
    width: 100%;
    height: 800px;
}
#slide-container > h1{
    z-index: 1;
    color: var(--main-font-color);
    padding-top: 5px;
}
#slide{
    display: none;
    width: 500%;
    height: 500px;
    position: absolute;
    top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--slide-gb-color);
    border-top: solid var(--nav-bar-bg-color) 2px;
    border-bottom: solid var(--nav-bar-bg-color) 2px;
    overflow: hidden;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes slide {
    0%, 16%{
        transform: translateX(34.4%);
    }
    21%, 37%{
        transform: translateX(17.2%);
    }
    42%, 58%{
        transform: translateX(0%);
    }
    63%, 79%{
        transform: translateX(-17.2%);
    }
    84%, 100%{
        transform: translateX(-34.4%);
    }
}
.movieImg{
    height: auto;
    width: var(--img-width);
    margin: 0px 10px 0px 10px;
    align-self: center;

}

#swap{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 530px;
}
.slide-btn{
    height: 30px;
    width: 30px;
    outline: none;
    font-size: 20px;
    color: var(--main-font-color);
    background-color: var(--slide-gb-color);
    border: solid 1px;
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
}
.swap-radio{
    margin-left: 12px;
    margin-right: 12px;
}

::-webkit-scrollbar{
    background-color: var(--container-bg-color);
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--nav-bar-bg-color);
    border-radius: 5px;
}


@media(max-width: 1000px){
    .nav-link{
        width: 130px;
    }
    :root{
        --img-width: auto;
    }
    .movieImg{
        height: 90%;
    }
    #slide{
        height: 300px;
    }
    #form{
        width: 500px;
    }
    #submit{
        width: 80px;
        font-size: 15px;
        padding: 5px 10px 5px 10px;
    }
}
@media(max-width: 650px){
    #logo{
        display:none
    }
}