:root{
    --big-sc-font-size: 16px;
    --nav-bar-bg-color: #333333;
    --nav-bar-height: 3rem;
    --nav-bar-font-size: 25px;
    --img-width: 350px;
    --container-bg-color: #2b2a2a;
    --main-font-color: white;

    font-size: var(--big-sc-font-size);
}
* {
    padding: 0;
    margin: 0;
    height: 100%;
}


#navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--nav-bar-bg-color);
    width: 100%;
    color: var(--main-font-color);
    height: var(--nav-bar-height);
    z-index: 1;
}
#logo{
    height: 28px;
    margin-left: 10px;
    margin-top: 10px;
}
#navbar-nav{
    position: absolute;
    display: inline-flex;
    right: 0px;
    height: 100%;
}
.nav-link{
    font-size: var(--nav-bar-font-size);
    width: 180px;
    text-align: center;
    height: var(--nav-bar-height);
    list-style: none;
    display: block;
}

.navbar-title{
    padding-top: 10px;
    height: 38px;
    position: relative;
    cursor: default;
}
.drop{
    display: flex;
    flex-direction: column;
    height: 80px;
    opacity: 0;
    list-style: none;
    background-color: var(--container-bg-color);
    border: solid gray 1px;
    border-top: none;
    padding: 5px;
}
.nav-link:hover .drop{
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.drop-li{
    border-bottom: solid gray 1px;;
}
.drop-li a{
    text-decoration: none;
    color: var(--main-font-color);
}


#container{
    top: var(--nav-bar-height);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--container-bg-color);
}

#slide{
    width: 100%;
    height: 350px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #111010b2;
    border-top: solid var(--nav-bar-bg-color) 2px;
    border-bottom: solid var(--nav-bar-bg-color) 2px;
}
.slide-btn{
    height: 30px;
    width: 30px;
    margin-top: auto;
    margin-bottom: auto;
    outline: none;
    font-size: 20px;
    color: var(--main-font-color);
    background-color: var(--container-bg-color);
    border: solid var(--main-font-color) 1px;
    border-radius: 5px;
}
#pre{
    margin-left: 10px;
    margin-right: auto;
}
#next{
    margin-left: auto;
    margin-right: 10px;
}
.movieImg{
    height: var(--img-width);
    width: auto;
    margin: 0px 10px 0px 10px;
}

#form{
    margin-top: 35px;
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgba(29, 28, 28, 0.5);
    padding: 15px;
    border-radius: 5px;
    border-color: rgb(99, 57, 9);
    border-width: 3px;
    color: var(--main-font-color);
}
#form h1{
    margin-bottom: 10px;
    align-self: center;
}
#submit{
    width: 100px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    font-size: 20px;
    align-self: center;
}

::-webkit-scrollbar{
    background-color: var(--container-bg-color);
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--nav-bar-bg-color);
    border-radius: 5px;
}


@media(max-width: 1000px){
    .nav-link{
        width: 130px;
    }
    :root{
        --img-width:300px;
    }
    #form{
        width: 500px;
    }
    #submit{
        width: 80px;
        font-size: 15px;
        padding: 5px 10px 5px 10px;
    }
}
@media(max-width: 650px){
    #logo{
        display:none
    }
}